<td>{{ rank }}</td>
<td>{{ votes }}</td>
<td>{{ name }}</td>
<td><img class='angry_cat_pic' src='{{ image_path }}' /></td>
<td>
	<div class='rank_up'><img src='../assets/images/up.gif' ></div>
	<div class='rank_down'><img src='../assets/images/down.gif' ></div>
</td>
<td><a href="#" class="disqualify">Disqualify</a></td>